# Dependencies
node_modules
apps/*/node_modules

# coverage
*/**/coverage
*/**/coverageEnv
*/**/coverage.json
*/**/allFiredEvents
*/**/scTopics


apps/**/build
apps/**/artifact.json
future-apps/**/build
future-apps/**/artifact.json
templates/**/build

# lerna
lerna-debug.log

# truffle build artifacts
apps/*/build
