# Dependencies
node_modules
apps/*/node_modules

# coverage
*/**/coverage
*/**/coverageEnv
*/**/coverage.json
*/**/allFiredEvents
*/**/scTopics
*/**/build

# lerna
lerna-debug.log

# truffle build artifacts
apps/*/build
