on: push
name: CI
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 10
    - name: Install dependencies
      run: yarn install
    - name: Lint
      run: yarn lint
    - name: Test
      run: yarn test
    env:
      CI: true
