{
  "extends": [
    "eslint-config-aragon",
    "plugin:jest/recommended"
  ],
  "plugins": ["jest"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "parser": "flow"
      }
    ],
  }
}
