{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": false
      }
    ],
    "stage-2"
  ],
  "env": {
    "test": { "presets": [["env"], "stage-2"] }
  },
  "plugins": [
    ["styled-components", { "displayName": true }],
    "transform-runtime"
  ]
}
